body {
	display: flex;
	--highlighted: grey;
	--incoming-background: #f3f3f3;
	--outgoing-background: #23b793;
}
h3 {
	margin: 0;
}
aside {
	box-shadow: 0 2px 3px grey inset;
	padding: 10px;
}

#activeUsers {
	display: flex;
	flex-direction: column;
}
.userCard {
	padding: 10px 20px;
	border-radius: 8px;
}
.userCard:hover {
	background-color: var(--highlighted);
}

#chatCanvas {
	display: flex;
	flex-direction: column;
}

.message {
	width: fit-content;
	padding: 20px;
	border-radius: 8px;
	margin: 10px;
	word-break: break-all;
}

.incoming {
	background-color: var(--incoming-background);
	align-self: flex-start;
}

.outgoing {
	background-color: var(--outgoing-background);
	align-self: flex-end;
}
